
___
# Python  Exercises

## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [23]:
7**4

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [24]:
s = 'Hi there Sam!'

In [25]:
s.split()                     #try using spilt function.

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [26]:
planet = "Earth"
diameter = 12742

In [27]:
print("The diameter of {} is {} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [28]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [29]:
lst[3][1][2][0]

'hello'

** Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [30]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [31]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

# 'hi' == 'bye'

In [32]:
# True or False  write your answer by using comment
False

False

# write the table of 12 but print in reverse order
12 X 10 =120 

12 X 9  =108      ...Like this

In [45]:
for i in range(10,0,-1):
    print("12 X {} = {} ".format(i,12*i))

12 X 10 = 120
12 X 9 = 108
12 X 8 = 96
12 X 7 = 84
12 X 6 = 72
12 X 5 = 60
12 X 4 = 48
12 X 3 = 36
12 X 2 = 24
12 X 1 = 12

 # Q-
 (1 == 2) or (2 == 3) or (4 == 4)

In [33]:
# True of false  write your answer by using commen
True

True

# Q-
if 1 == 2:

    print('first')
    
elif 3 == 3:

	print('middle')
    
else:
    print('Last')

In [34]:
#output    

#middle

# Q-
seq = [1,2,3,4,5]

for jelly in seq:

    print(jelly+jelly)

In [50]:
#output
2
4
6
8
10

2
4
6
8
10

In [36]:
# code to print output
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [37]:
# Question-
x = [1,2,3,4]

In [38]:
#write code to change this list into new one as output
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [39]:
# Define  Set in your words.
# Answer

#Sets are used to store multiple items in a single variable. Set is one of 4 built-in data types in Python used to store collections of data

In [40]:
# what do you think Array and List is same or not ? Explain -
# Answer

#No because-
#List is used to collect items that usually consist of elements of multiple data types. An array is also a vital component that collects several items of the same data type. List cannot manage arithmetic operations. Array can manage arithmetic operations.

In [41]:
my_list = ['Vikas', 'Kumar']

In [42]:
# write the append to enter your libaray id 
# code-
my_list.append("2125CSE1142")
my_list

['Vikas', 'Kumar', '2125CSE1142']

## Good Job