###  Datatypes
*Integer, 
*Float, 
*String, 
*Boolean, 
*Complex

In [5]:
1+1         #basic operations

2

In [6]:
4*5

20

In [7]:
10/2

5.0

In [8]:
10%2

0

In [9]:
type(1)                     #type(),used to find the Datatype

int

In [11]:
type("Hello")                   #string

str

In [1]:
type(1.6)                      #float

float

In [2]:
type(True)                     #bool

bool

In [3]:
a = 3+4j                      #complex
type(a)

complex

In [14]:
"Hello"

'Hello'

In [16]:
type("Hello")                 # Double quote and single quote are same thing
type('Hello')

str

In [6]:
marvel_super_hero = "Iron Man"             #variable
print(marvel_super_hero)

Iron Man

In [3]:
marvel_super_hero = "Captain America"             #variables names can be changed
print(marvel_super_hero)

Captain America

In [5]:
hero1,hero2,hero3 = "Iron Man", "Captain America", "Bat Man"        #Multiple variable in same line
print(hero1)
print(hero2)
print(hero3)

Iron Man
Captain America
Bat Man

In [7]:
x=y=z=23
print(x)
print(y)
print(z)

23
23
23

#### Various ways of printing

In [17]:
print("hello")

hello

In [18]:
first_name='Shantanu'
last_name='Mishra'

In [19]:
print("My First name is {} and my Last name is {}".format(first_name,last_name))

My First name is Shantanu and my Last name is Mishra

In [20]:
print("My First name is {first} and my Last name is {last}".format(first=first_name, last=last_name))

My First name is Shantanu and my Last name is Mishra

In [21]:
len('Shantanu')                                   #Used to find the lenght

8

In [23]:
len('123456789')

9

#### Input Function

In [14]:
num1 = input("Enter the first number: ")
num2 = input("Enter the second number: ")
sum = num1 + num2
print(sum)                       # Here it will take input as string by default

Enter the first number: 23
Enter the second number: 34
2334

In [15]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
sum = num1 + num2
print(sum)

Enter the first number: 10
Enter the second number: 20
30

In [16]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
sum = num1 + num2
print("The Sum of the numbers are {}".format(sum))

Enter the first number: 23
Enter the second number: 34
The Sum of the numbers are 57

In [21]:
# Changing the data type in python -> Typecasting
num = 5
print(type(num))
print(float(num))

<class 'int'>
5.0